@import '../styles';

.incognito-TextField {
  width: 100%;

  &__label {
    display: inline-block;
    margin-bottom: 5px;
  }

  &--noBorder {
    outline: 0;
    border: 0;
    background-color: transparent;
    color: $colorTextfieldNoBorderText;
    font-size: 1.3em;
    border-bottom: 1px solid $colorTextfieldNoBorderBorder;
    transition: border-bottom 0.5s ease-out;

    &:focus {
      border-bottom: 1px solid $colorTextfieldNoBorderFocus;
    }
  }
}
