@import '../styles';

.incognito-TextField {
  &__textFieldWrapper {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: inline-block;
    margin-bottom: 5px;
  }

  &__textField {
    width: 21em;
    max-width: 100%;

    &--default {
      font-size: 1.3em;
      padding: 0.2em;
    }

    &--noBorder {
      outline: 0;
      border: 0;
      background-color: transparent;
      color: $colorTextfieldNoBorderText;
      font-size: 1.3em;
      border-bottom: 1px solid $colorTextfieldNoBorderBorder;
      transition: border-bottom 0.5s ease-out;

      &:focus {
        border-bottom: 1px solid $colorTextfieldNoBorderFocus;
      }
    }
  }
}
