// TODO: Think of better names for this lol... and maybe get rid of $pureWhite. We can stick with $white.

$black: black;
$lightGray: lightgray;
$darkGrayishBlue: #2c323d;
$lightWhite: hsla(0, 0%, 100%, 0.8);
$white: rgba(255, 255, 255, 0.98);
$pureWhite: rgb(255, 255, 255);
$darkGray: #888;
$halfWhite: rgba(255, 255, 255, 0.5);
$lightGoldenRodYellow: lightgoldenrodyellow;
$gold: gold;
$darkSlateGray: #414141;
