@font-face {
  font-family: 'Orbitron';
  src: local(Orbitron) url('/styles/fonts/Orbitron/Orbitron-Regular.woff')
    format('woff');
  src: local(Orbitron) url('/styles/fonts/Orbitron/Orbitron-Medium.woff')
    format('woff');
  src: local(Orbitron) url('/styles/fonts/Orbitron/Orbitron-Bold.woff')
    format('woff');
  src: local(Orbitron) url('/styles/fonts/Orbitron/Orbitron-Black.woff')
    format('woff');
}
