@import './color-palette';

$bodyBackground: $black;

$colorBannerBorder: $lightgray;
$colorBannerBackground: $white;

$colorCategoriesText: $halfWhite;
$colorCategoriesTextHover: $pureWhite;
$colorCategoriesBackground: $darkGrayishBlue;

$colorSpinnerText: $white;
$colorSpinnerBackground: $black;
$colorSpinnerLoadingBackground: $pureWhite;

$colorPostBackground: $pureWhite;
$colorPostBoxShadow: $darkGray;

$colorContentBorder: $halfWhite;
$colorContentCaret: $pureWhite;

$colorNaviconBorder: $pureWhite;

$colorNavigationText: $black;
$colorNavigationBorderHover: $black;
$colorNavigationTextInverse: $lightWhite;
$colorNavigationBorderHoverInverse: $lightWhite;

$colorTextfieldNoBorderText: $pureWhite;
$colorTextfieldNoBorderBorder: $lightgoldenrodyellow;
$colorTextfieldNoBorderFocus: $gold;

$colorBodyBackground: $white;
$colorBodyText: $darkSlateGray;
