@import './color-palette';

$bodyBackground: $black;

$colorBannerBorder: $lightGray;
$colorBannerBackground: $white;

$colorSideBarText: $halfWhite;
$colorSideBarTextHover: $pureWhite;
$colorSideBarBackground: $darkGrayishBlue;

$colorSpinnerText: $white;
$colorSpinnerBackground: $black;
$colorSpinnerLoadingBackground: $pureWhite;

$colorPostBackground: $pureWhite;
$colorPostBoxShadow: $darkGray;

$colorContentBorder: $halfWhite;
$colorContentCaret: $pureWhite;

$colorNaviconBorder: $pureWhite;

$colorNavigationText: $black;
$colorNavigationBorderHover: $black;
$colorNavigationTextInverse: $lightWhite;
$colorNavigationBorderHoverInverse: $lightWhite;

$colorTextfieldNoBorderText: $pureWhite;
$colorTextfieldNoBorderBorder: $lightGoldenRodYellow;
$colorTextfieldNoBorderFocus: $gold;

$colorBodyBackground: $white;
$colorBodyText: $darkSlateGray;

$colorButtonBoxShadowHover: $lightGray;

// z index
$lowTier: 1;
$middleTier: 100;
$topTier: 1000;
