{
  "globals": {
    "document": true,
    "window": true
  },
  "env": {
    "node": true,
    "mocha": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:jsx-a11y/recommended"],
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.common.js"
      }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "react/jsx-filename-extension": 0,
    "max-len": [2, 120],
    "no-console": 2
  }
}
