@import "../../ui/styles";

.incognito-About {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  max-width: 900px;

  & .incognito-Content:last-child {
    border-bottom: 0;
  }

  &__calendarDeadlines {
    flex: 2 0 auto;
  }

  &__deadlineContents {
    display: flex;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-evenly;
  }
}
