@import '../../ui/styles';

.incognito-Blog {
  display: flex;
  flex-direction: column;

  &__pageImage {
    display: flex;
    background-size: cover;

    // small screen change to contain
  }

  &__gradient {
    mix-blend-mode: lighten;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fcfcfc, rgba(252, 252, 252, 0.85));
    width: 100%;
    height: 250px;
    margin-top: -250px;
    position: relative;
    font-size: 5em;
    line-height: 1.25em;
    letter-spacing: 0.075em;
  }

  &__posts {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: 100vh;
    visibility: visible;

    &--loading {
      visibility: hidden;
    }
  }

  &__spinner {
    position: relative;
  }
}
