@import "../../styles/styles";

.incognito-Blog {
  display: grid;
  flex: 1 1 auto;
  width: 80%;
  margin: 0 auto;

  @media only screen and (min-width: 900px) {
    width: 100%;
    margin: 0;
    grid-template-columns: [blog] 70% [images] 2fr;
  }

  &__postsWrapper {
    display: grid;
    z-index: 1;
    grid-template-rows: [clock] 100% [posts] 1fr;
    padding-bottom: 50px;

    @media only screen and (min-width: 900px) {
      grid-template-rows: 0;
      grid-template-columns: [calendar] 1fr [posts] 2fr;
    }
  }

  &__posts {
    min-height: 100vh;
    visibility: visible;
    grid-row: posts;

    @media only screen and (min-width: 900px) {
      grid-row: 0;
      grid-column: posts;
    }

    &--loading {
      visibility: hidden;
    }
  }

  &__post {
    // display:
  }

  &__postImage {
    display: grid;
    grid-column: images;
  }

  &__postImageSticky {
    position: fixed;
  }

  &__spinner {
    position: relative;
  }
}
