@import "../../styles/styles";

.incognito-Blog {
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: 1fr 70% 2fr;

  @media (min-width: 1890px) {
    grid-template-columns: 1fr 50% 2fr;
  }

  &__calendarWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
    z-index: 1;
  }

  &__calendar {
    display: grid;
  }

  &__calendarSticky {
    position: fixed;
  }

  &__posts {
    min-height: 100vh;
    visibility: visible;

    &--loading {
      visibility: hidden;
    }
  }

  &__postImage {
    display: grid;
  }

  &__postImageSticky {
    position: fixed;
  }
}
