@import "../../styles/styles";

.incognito-blogPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2c323d;
  color: hsla(0, 0%, 100%, 0.8);

  &__wrapper {
    display: grid;
    flex: 1 1 auto;
    grid-template-columns: 1fr 50% 2fr;
  }

  &__categories {
    height: 100%;
    position: absolute;
    right: 0;
  }

  &__calendarWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
  }

  &__calendar {
    display: grid;
  }

  &__calendarSticky {
    position: fixed;
  }
}
