@import '../../ui/styles';

$mobileGradientHeight: 150px;
$tabletGradientHeight: 70px;
$gradientHeight: 150px;

.incognito-Blog {
  display: flex;
  flex-direction: column;

  &__scroller {
    animation: $fadeInAnimation;
  }

  &__gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fcfcfc, rgba(252, 252, 252, 0.85));
    width: 100%;
    height: $mobileGradientHeight;
    position: relative;
    font-size: 2em;
    line-height: 1.25em;
    letter-spacing: 0.075em;

    @include tablet {
      mix-blend-mode: lighten;
      height: $tabletGradientHeight;
      margin-top: -$tabletGradientHeight;
      font-size: 2em;
    }

    @include desktop {
      height: $gradientHeight;
      margin-top: -$gradientHeight;
      font-size: 5em;
    }
  }

  &__posts {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: 20vh;
    position: relative;

    @include tablet {
      width: 70%;
    }

    @include desktop {
      width: 50%;
    }
  }

  &__spinner {
    position: relative;
  }
}
