@import '../ui/styles';

.incognito-Header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
  z-index: $middleTier;

  @include tablet {
    background: none;
  }

  &--isAbsolute {
    background: $colorHeaderBackgroundMobile;
    color: $colorHeaderTextMobile;
    justify-content: space-around;
    position: relative;

    @include desktop {
      background: none;
      justify-content: flex-start;
      position: absolute;
    }
  }

  // TODO: use withNavigation HOC to replace this
  &__sideBar {
    display: none;

    @include desktop {
      display: block;
    }
  }

  // TODO: use withNavigation HOC to replace this
  &__search {
    max-width: 90%;

    @include desktop {
      display: none;
    }
  }
}
