@import '../ui/styles';

.incognito-Header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  position: relative;

  &--isHomePage {
    position: absolute;
  }
  &__navigation {
    margin-bottom: 2em;

    @media only screen and (min-width: 900px) {
      margin: 0;
    }
  }

  // TODO: use withNavigation HOC to replace this
  &__sideBar {
    display: none;

    @media only screen and (min-width: 900px) {
      display: block;
    }
  }

  // TODO: use withNavigation HOC to replace this
  &__search {
    @media only screen and (min-width: 900px) {
      display: none;
    }
  }
}
