.incognito-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  &__categories {
    display: none;

    @media only screen and (min-width: 900px) {
      display: block;
    }
  }

  &__search {
    @media only screen and (min-width: 900px) {
      display: none;
    }
  }
}
