@import "../../styles/styles";

.incognito-Post {
  border-top: 1px solid white;
  width: 100%;
  min-height: 500px;
  box-shadow: none;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: inset 0 15px 8px -10px #888, inset 0 -15px 8px -10px #888;
    transition: box-shadow 0.5s;
  }

  &__title {
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    background-color: lightgray;
    margin: 0;
  }

  &__post {
    padding: 30px 15px;
  }
}
