@import "../../styles/styles";

.incognito-Post {
  width: 100%;
  min-height: 500px;
  box-shadow: none;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: inset 0 15px 8px -10px #888, inset 0 -15px 8px -10px #888;
    transition: box-shadow 0.5s;
  }

  &__title {
    position: sticky;
    // TODO: Find out how to have to append 2 stickys together; why top: 99px onwards results in post text showing up on top of the title
    top: 98px;
    border-bottom: 1px solid black;
    background-color: lightgray;
    margin: 0;

    @media only screen and (min-width: 900px) {
      top: 0;
    }
  }

  &__post {
    padding: 30px 15px;
  }
}
