@import "../../styles/styles";

.incognito-Post {
  border-top: 1px solid white;
  padding: 30px 15px;
  width: 100%;
  min-height: 500px;
  box-shadow: none;

  &--view {
    box-shadow: 5px 10px 8px #888;
    transition: box-shadow 0.5s;
  }
}
