@import "../../../styles/styles";

.incognito-Navigation {
  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    & li {
      & a {
        padding: 10px 30px;
        text-decoration: none;
        color: $colorNavigationText;
        line-height: 1.25em;
        letter-spacing: 0.075em;
        text-transform: uppercase;

        &--active {
          border-bottom: 2px solid $colorNavigationBorder;
        }

        &:hover {
          border-bottom: 2px solid $colorNavigationBorder;
          transition: border-bottom 300ms ease-in;
        }
      }
    }
  }
}
