.incognito-Header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;

  // TODO: use withBreakpoints instead
  &__navigation {
    margin-bottom: 2em;

    @media only screen and (min-width: 900px) {
      margin: 0;
    }
  }

  &__categories {
    display: none;

    @media only screen and (min-width: 900px) {
      display: block;
    }
  }

  &__search {
    @media only screen and (min-width: 900px) {
      display: none;
    }
  }
}
