@import "../../styles/styles";

.wifi-Calendar {
  display: flex;
  align-items: center;
  font-size: 1.5em;

  &__dateMonth {
    display: flex;
    flex-direction: column;
  }

  &__borderTop,
  &__borderBottom {
    width: 10%;
    margin: 0 auto;
  }

  &__datesBody {
    line-height: 3em;
    max-height: 3em;
    overflow-y: hidden;
  }

  &__dates {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__date {
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Orbitron, sans-serif;
  }

  &__monthsBody {
    line-height: 3em;
    max-height: 3em;
    overflow-y: hidden;
  }

  &__months {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__month {
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Orbitron, sans-serif;
  }

  &__years {
    transform: rotate(270deg);
    font-family: Orbitron, sans-serif;
  }
}
