@import '../ui/styles';

.incognito-Post {
  &__title {
    position: sticky;
    top: 0;
    border-bottom: 1px solid $colorBannerBorder;
    background-color: $colorPostBackground;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    z-index: $lowTier;
  }

  &__body {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
  }

  &__post {
    width: 100%;
    min-height: 500px;
    padding: 30px 15px;
  }
}
