$black: black;
$lightgray: lightgray;
$darkGrayishBlue: #2c323d;
$lightWhite: hsla(0, 0%, 100%, 0.8);
$yellowGreen: #9acd32;
$white: rgba(255, 255, 255, 0.98);
$pureWhite: rgb(255, 255, 255);
$darkGray: #888;
$halfWhite: rgba(255, 255, 255, 0.5);
$lightgoldenrodyellow: lightgoldenrodyellow;
$gold: gold;
$darkSlateGray: #414141;
