$red: red;
$black: black;
$lightgray: lightgray;
$darkCoralBlue: #2c323d;
$lightWhite: hsla(0, 0%, 100%, 0.8);
$yellowGreen: yellowgreen;
$darkSlateGray: darkslategray;
$white: rgba(255, 255, 255, 0.98);
$pureWhite: rgb(255, 255, 255);
$darkGray: #888;
$halfWhite: rgba(255, 255, 255, 0.5);
$lightgoldenrodyellow: lightgoldenrodyellow;
$gold: gold;
