@import "./color-palette";

$bodyBackground: $black;

$colorBannerBorder: $lightgray;
$colorBannerBackground: $black;

$colorCategoriesBackground: $yellowGreen;
$colorCategoriesTextHover: $darkSlateGray;

$colorDigitalClockBackground: $darkGrayishBlue;
$colorDigitalClockBorder: $darkSlateGray;

$colorDigitalClockBorder: $lightWhite;
$colorDigitalClockText: $lightWhite;

$colorSpinnerText: $white;
$colorSpinnerBackground: $black;
$colorSpinnerLoadingBackground: $pureWhite;

$colorPostBoxShadow: $darkGray;

$colorContentBorder: $halfWhite;
$colorContentCaret: $pureWhite;

$colorNaviconBorder: $pureWhite;

$colorNavigationText: $lightWhite;
$colorNavigationBorder: $lightWhite;

$colorTextfieldNoBorderText: $pureWhite;
$colorTextfieldNoBorderBorder: $lightgoldenrodyellow;
$colorTextfieldNoBorderFocus: $gold;

$colorBodyBackground: $white;
$colorBodyText: $darkSlateGray;
