@import "../../styles/styles";

.incognito-timer {
  &-enter,
  &-appear {
    opacity: 0.1;
  }

  &-enter-active,
  &-appear-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

  &__timer {
    font-family: Orbitron, sans-serif;
  }
}
