@import '../styles';

.incognito-Search {
  display: flex;
  align-items: center;
  position: relative;

  &__searchIcon {
    background-image: url('./search.png');
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
