@import "../styles/styles";

.incognito-categories {
  padding: 20px 0;

  &__category {
    display: flex;
    margin: 15px 0;
    cursor: pointer;

    // &:hover {
    //   color: red;
    // }
  }
}
