@import "../styles/styles";

.incognito-categories {
  height: 100%;
  position: fixed;
  right: 0;

  &__categoriesWrapper {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 100px;
    background-color: yellowgreen;
  }

  &__category {
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}
