@import "../styles/styles";

.incognito-categories {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;

  &__categoriesWrapper {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100px;
    background-color: yellowgreen;
    padding: 0 1em;
  }

  &__category {
    &:hover {
      cursor: pointer;
      color: darkslategray;
    }
  }
}
