@import '../ui/styles';

.incognito-Content {
  display: inline-block;
  padding: 30px 0;
  border-bottom: 1px solid $colorContentBorder;

  &__titleContainer {
    display: inline-block;
  }

  &__title {
    display: inline-block;
    visibility: hidden;

    &--isIntersecting {
      visibility: visible;

      @include tablet {
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 0.15em;
        animation: typing 1s steps(40, end), blink-caret 0.5s step-end 4;
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-right: 1px solid $colorContentCaret;
  }
  to {
    border: 0;
    transition: border 3s ease-in-out;
  }
}
