@import '../ui/styles';

.incognito-PageImage {
  width: 100%;

  // TODO: think of a better name
  &__img {
    display: block;
    width: 100%;

    &--isAws {
      content: url('./aws_image.jpg');
    }

    @include desktop {
      display: none;
    }
  }

  &__div {
    height: 80vh;
    display: none;

    &--isAws {
      // TODO: Move this image to S3 and reference it there
      background-image: url('./aws_image.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    @include desktop {
      display: block;
    }
  }
}
