@import '../../ui/styles';

.incognito-Navigation {
  font-size: 1.3em;

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__link {
    padding: 10px 30px;
    text-decoration: none;
    color: black;

    &:hover {
      border-bottom: 2px solid black;
      transition: border-bottom 200ms ease-in;
    }

    &--inverse {
      color: $colorNavigationText;

      &:hover {
        border-bottom: 2px solid $colorNavigationBorder;
        transition: border-bottom 200ms ease-in;
      }
    }
  }
}
