@import '../../ui/styles';

.incognito-Navigation {
  font-size: 1.3em;
  padding: 1em;

  @include tablet {
    padding: 0;
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__link {
    padding: 10px 30px;
    text-decoration: none;
    color: $colorNavigationText;

    &:hover {
      border-bottom: 2px solid $colorNavigationBorderHover;
      transition: border-bottom 200ms ease-in;
    }

    &--inverse {
      color: $colorNavigationTextInverse;

      &:hover {
        border-bottom: 2px solid $colorNavigationBorderHoverInverse;
        transition: border-bottom 200ms ease-in;
      }
    }
  }
}
