@import "../../styles/styles";

.incognito-Root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $colorBodyBackground;
  color: $colorBodyText;

  &__footer {
    display: none;
    @media only screen and (min-width: 900px) {
      display: block;
    }
  }
}
