@import '../../ui/styles';

.incognito-AdminPanel {
  &__panel {
    padding: 20px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 0 0 40px 5px navajowhite;
    width: 90%;

    @include desktop {
      padding: 100px;
      width: auto;
    }
  }

  &__formWrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 50px;
  }

  &__button {
    margin: 20px 0 0 0;
  }
}
