@import "../../styles/styles";

.incognito-Navicon {
  position: fixed;
  padding-left: 4em;
  top: 2.1em;
  right: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #fff;
    border-bottom: 0.125em solid #fff;
  }
}
