@import "../../styles/styles";

.incognito-PostImage {
  width: 25%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: skew(-15deg, 5deg);
  filter: blur(2px);
  position: fixed;
  opacity: 0.5;
}
